In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" clolr="red">ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨.

## 1.1 변수할당
- 할당 연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [9]:
r = 5                            # r에 5라는 변수를 할당
area = 3.14 * r * r              # area에 3.14 곱하기 r(5), 곱하기 r(5)라는 변수를 할당함.
print("계산된 넓이는", area)     #print 함수사용

계산된 넓이는 78.5

In [ ]:
# 복습문제 풀이

In [2]:
name ="도현"
age = 5
print("이름 :", name, "나이 :", age)

이름 : 도현 나이 : 5

In [5]:
print(name,"은", age,"살입니다.")

도현 은 5 살입니다.

In [9]:
print(name+"은"+ str(age)+"살입니다.")

도현은5살입니다.

In [12]:
r=5
import numpy as np     
#'numpy'라는 외장 라이브러리를 'np'라는 이름으로 호출함.
# import "모듈명" as "별칭" : 모듈의 이름을 원하는 별칭으로 바꿔서 사용하게 해줌(코드)
#'numpy'는 파이썬에서 부족한 수학연산능력을 보완하는 목적으로 사용되는 외부라이브러리임.
area = np.pi * r * r    
#np.pi는 파이 (π ≈ 3.14159265...)를 나타냄.(import를 사용하지 않는 경우 numpy.pi로 사용됨)
print('area =', area)

area = 78.53981633974483

In [16]:
# is_integer는 정수형인지 인지 여부를 판단 하는 함수
area.is_integer()

False

In [41]:
#주요 자료형 종류
# int : 정수(1,100,-5)
# float : 실수(소수점) (3.14, -2.0)
# complex : 복소수(2+3j, -1.5+4j) #복소수는 실수+허수로 구성된 숫자를 뜻함.
# 실수 = 눈에 보이는 병력. 허수 = 정찰로 추정된 적 병력 (확실하지 않음), 복소수 = "보이는 병력 + 보일 수도 있는 병력"  
# str : 문자열("안녕", "123")
# bool : 참/거짓 (True, False)
# list : 리스트(배열) [1,2,3] -대괄호[]와 ,로 나타냄
# dict : 딕셔너리(사전형) {'a':1,'b':2} -중괄호{}와 :로 나타내며 key와 value로 나타냄
# tuple : 튜플(고정 리스트) (1,2) -소괄호()와 ,로 나타냄
# set : 집합(중복없음)

In [32]:
# 데이터 타입을 확인할 수 있는 함수와 도구들
# type : 변수의 자료형을 알려주는 함수
x = 3.14
print(type(x))       # <class 'float'>

# isinstance(변수, 자료형) : 변수가 특정자료형인지 참(True) 거짓(False)으로 알려줌
x = 3.14
print(isinstance(x, float))   # True
print(isinstance(x, int))     # False

# float() : 다른 자료형을 실수형으로 바꾸는 함수
x = float(5)     # 정수 5 → 실수 5.0
print(x)         # 5.0

<class 'float'>
True
False
5.0

In [21]:
#float(실수형) 자료의 주소와 자료 형태를 확인하는 법
area=5.5
print('area의 주소 :', id(area))      #id : 변수가 메모리상 어디 저장되어있는지를 알려주는 함수
print('area의 타입 :', type(area))    #type : 변수의 자료형(데이터타입)을 확인하는 함수

area의 주소 : 2607293647920
area의 타입 : <class 'float'>

In [20]:
#int(정수형) 자료의 주소와 자료 형태를 확인하는 법
area=10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 140725892557528
area의 타입 : <class 'int'>

In [19]:
#str(문자열) 자료의 주소와 자료 형태를 확인하는 법
area= "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2607312992608
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 변수이름은 문자로 시작하며 숫자로 시작 할 수 없음. ex) 123="홍길동" => 이러면 안됨!
- 문자, 숫자(중간이나 끝에), _(권장)로 변수명 작성 ex) Isr_1 = "정찰자산" 이런식으로 권장됨.
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용한다. ex) print=출력 이런거 비권장
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용(프로그램이 꼬일 수 있음.)

In [23]:
이름 = "홍길동"
print(이름)

홍길동

In [24]:
이름

'홍길동'

In [28]:
member_name="홍길동"
memberName="고길동"

print(member_name)
print(memberName)

홍길동
고길동

In [30]:
#대문자로 시작한 변수, 함수명의 변수는 강력비추
Print=10 
print(Print)

10

In [43]:
#파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j #복소수생성 코드
type(i)

complex

In [44]:
#i변수(객체)가 complex인지 여부 확인 isinstance(변수, 자료형) 사용
isinstance(i, complex)

True

## 1.3 도움말

In [51]:
#도움말 사용법 예시 hepl(설명을 듣고자 하는 대상)
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [33]:
help() # help를 빠져나오려면 q입력 / ESC+O : 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [34]:
#도움말 : shift+tab(두번누를것)키
print()

In [42]:
def add(x, y=0):            
    #def : 함수정의 키워드, add : 사용자 임의지정 함수명
    #x, y 함수에 들어가는 기본값, 별도로 입력이 필요함.
    """
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2,3) => 23
    """
    return x*10+y
    #return : 함수의 결과값을 반환함.

In [47]:
add(2, 4)

24

In [45]:
a = add
a(2, 3)

23

In [46]:
# 변수삭제 함수
x =10
z =100
del (x, z) # a변수와 b변수를 동시에 삭제한다는 의미

## 1.4 다중 변수 할당

In [47]:
#기존방식
a=10
b=20

In [50]:
# 다중 변수 할당 방식(packing 이라고 부름)
a, b = 10, 20
print(a,b)

10 20

In [49]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당(가독성이 떨어져 자주 사용하지는 않음.)
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [53]:
#input() : 사용자로부터 값을 입력받기 위한 함수. 무조껀 문자열로 인식됨.
first = input("첫번째 숫자는?")
first

첫번째 숫자는? 5

'5'

In [54]:
second = input("두번째 숫자는?")
second

두번째 숫자는? 10

'10'

In [55]:
#int : 문자열(str)이나 실수(float)를 정수형으로 바꿔주는 함수, 
#입력된 값이 input함수로 인해 문자열로 인식되기 때문에 정수로 바꿔줘야해서 입력함.
sum = int(first) + int(second)
print('합:', sum)

합: 15

In [56]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum=first+second
print('합', sum)

첫번째 수는? 5
두번째 수는? 10

합 15

In [55]:
#sep : print()에서 여러값을 출력 할 때 사이에 무엇을 넣을지를 정하는 옵션
print('합', sum, sep='=')

합=30

In [58]:
#end : print()가 끝난 후 자동 줄바꿈을 할지, 다른걸 붙일지를 정하는 옵션
print('합', sum, sep="=", end="/")
print('합', sum, sep="~",  end="/")
print('합', sum, sep="은")

합=30/합~30/합은30

In [57]:
#import : 외부 모듈을 불러오는 명령어
#sys : 시스템 관련 모듈
#sys.stdout : print관련 결과를 화면에 출력하라는 명령어
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형    
    -정수(int), 실수(float), 복소수형(complax)이 있음.

In [63]:
# 파이썬에서 가장 큰 정수값을 불러옴
# 64비트 시스템에서의 정수 최대값 2의 63승-1 (2**63 -1)
import sys
sys.maxsize

9223372036854775807

In [64]:
# 다만, 시스템 최대값을 불러왔다고 해도 이 값을 변조해도 문제없이 작동함.
i = sys.maxsize + 1000
i

9223372036854776807

In [65]:
i = sys.maxsize + 1000
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [61]:
#정수(int)/정수(int)는 무조껀 실수(float)
f=4/2 
f
print(f)
print(type(f))

2.0
<class 'float'>

In [63]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 #몫연산자
print(f)
print(type(f))
f1 = int(4/2)
print(f)
print(type(f1))

2
<class 'int'>
2
<class 'int'>

In [64]:
#파이썬을 빌어먹게도 복소수 연산도 지원한다.
c = 1j #수학시간의 0=1i
print(c**2) # ** 승연산자

(-1+0j)

In [74]:
f = 1.12e12 #1.12의 10의 12승 112000000000000 (e는 10의 승을 뜻함.)
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :', f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
-쌍따옴표("-")나 홑따옴표('-'), 따옴표 3개('''-''' 또는 """-""")로 문자열을 생성

In [72]:
# 이스케이프 코드
# \n 줄바꿈
# \t 탭(들여쓰기)
# \' 작은 따옴표 문자
# \" 큰 따옴표 문자
# \\ 역 슬래시 자체(여기선 표현이 안되지만 '원'문자 표현시)
# \r 캐리지 리던(행의 첫번째 열로 돌아옴)
# \b 백스페이스(한 글자 삭제)

In [68]:
# 문장을 만들기 위해, 예를 들어 
# 도현이가 "안돼" 라고 말했다. 같은 문장을 만들기 위해 ""를 남발하면 문제가 생긴다.
print("He said "No"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3841251202.py, line 1)

In [70]:
# 따라서 ""를 사용하는 문장을 만들기 위해선 \(역슬레시, 이스케이프 문자라고 함)을 사용
print("He said \"No\"")

He said "No"

In [65]:
name = '' # 홍길동"짱"
# "홍길동"짱""으로 작성할 경우 에러가 남
# 따라서 아래와 같이 해야 에러가 안남
name = "홍길동\"짱\""
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동''' # 서울시 관악구 '신길동'(비추천하는 방식)
address = "서울시 관악구 '신림동'"
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [67]:
name = "홍길동\"짱\""
print(name)

홍길동"짱"

In [78]:
name = '홍길동"짱"'
print(name)

홍길동"짱"

In [86]:
address = '서울시 관악구\'신림동'''
print(address)

서울시 관악구'신림동

In [81]:
address = "서울시 관악구 '신림동'"
print(address)

서울시 관악구 '신림동'

In [84]:
# 문자형 변수 여러줄을 작성 할 경우 따옴표 3개를 사용하면 편하다.
text = '''여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [88]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = "동에 번쩍 서에 번쩍"
print(name1+name2)

홍길동동에 번쩍 서에 번쩍

In [91]:
print(name1*3) #문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [93]:
print(r'hello\nWordl') #r을 안쓰면 \n을 인식함.
print('Hello\\nWordl') #\\를 사용하는 방법도 있으나 선호되진 않음. 코드가 보기 싫어짐.

hello\nWordl
Hello\nWordl

In [ ]:
정규표현식
'''(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 :
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자)
    . (문자하나를 뜻함)
    \. (.의미)
    \- (-의미)
    {2, 4} (2~4번 반복)
    {4}    (4번 반복)
    {2,}   (2번이상 반복)
    +      (1번이상 반복)
    *      (0번이상 반복)
    ?      (0번이나 1번 반복) 
    *해당될 경우 true 특정패턴 (숫자, 문자 등이 0번이나 1번 반복되는 것을 체크해라)
    ()     (그룹화/추출/범위지정)
    |      (선택(or)연산자, 이것 또는 저것)
3. 정규표현식 연습장(https://regexr.com/)
    ex1. 전화번호 : 010-9999-9999  02-7777-8888   01099997777   0277778888
                    02)714-5656    010 1234 1234  010.1234.1234
                    "\d{2,3}[\-) \.]?\d{3,4}[\- \.]?\d{4}"
    ex2. 이메일 : acb12@naver.com / abc123@0to.co.kr
                  abc@한국.com
                  "\w{3,}@[a-zA-Z0-9가-힣]+\.[a-zA-Z]+(\.[a-zA-Z]+)?"    
    
4. 소스 구현
'''

In [16]:
import re
data="홍길동인데 전번이 041-888-8888, 010 9999 9999 동에번쩍 서에번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데 전번이 041-888-8888, 010 9999 9999 동에번쩍 서에번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 엄청 좋아요

In [10]:
email_pattern = r"\w{3,}@[a-zA-Z0-9가-힣]+\.[a-zA-Z]+(\.[a-zA-Z]+)?"

In [13]:
tel_pattern = r"\d{2,3}[\-) \.]?\d{3,4}[\- \.]?\d{4}"

In [17]:
#해당 패턴을 다 찾아줌. 없으면 []반환
tels = re.findall(tel_pattern, data)
tels

['041-888-8888', '010 9999 9999']

In [18]:
# search() : 정규표현식 패턴과 일치하는 처음단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [20]:
data[10:22] #문자 슬라이싱(원하는 부분만 빼내기)

'041-888-8888'

In [22]:
print('전화번호 전체 :', firstTel.group(0))
print('국번', firstTel.group(1))
print('중간번호', firstTel.group(2))
print('끝번호', firstTel.group(3))

전화번호 전체 : 041-888-8888
국번 041
중간번호 888
끝번호 8888

In [23]:
re.sub(r'[^가-힣0-9\s]', '',data) 
#^는 이것을 제외하라는 뜻임.
#특수문자, 자음, 모음 없애기

'홍길동인데 전번이 0418888888 010 9999 9999 동에번쩍 서에번쩍   오늘 날씨는 엄청 좋아요'

In [25]:
#파일을 추출하여 사용하는 방법
#파일경로에는 반드시 r을 사용하거나 \\를 사용
file_path = r"C:\AI_x\04_source\01_python\test.py" 
file_path = "C:\\AI_x\\04_source\\01_python\\test.py"
file_path = "C:/AI_x/04_source/01_python/test.py"

In [27]:
file_stream = open(file_path, 'w') #쓰기 모드로 파일 열기
print("Hello", "world", sep=" ~ ") #콘솔출력
print("Hello", "world", sep=" ~ ", file=file_stream) #파일출력
file_stream.close() #close를 하지 않으면 파일저장 안됨

Hello ~ world

In [ ]:
#파일에서 특정단어를 추출하는 행위를 스트링이라고하며 절차는 위와 같다.

### ※문자열 슬라이싱

In [29]:
#변수를 넣을 때 \n
#변수=값
#변수=값들
#['ㅁ','ㅍ']

In [30]:
str_ = '0123456789'
str_

'0123456789'

In [33]:
# 문자 인덱싱(데이터의 특정부분만 추출해서 사용하는것)
# -를 사용하는 경우 뒷열에 있는 문자를 추출함.
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [32]:
str_[20] # 없는 인덱싱은 에러

IndexError: string index out of range

In [35]:
'''
문자변수[from:stop] : from부터 stop앞까지 추출
문자변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
    step(추출시작 인덱스) 생략시 1
    from(추출종료 인덱스) 생략시 처음부터
    stop(추출간격, 기본값1) 생략시 끝까지
'''

'\n문자변수[from:stop] : from부터 stop앞까지 추출\n'

In [34]:
str_[0:5] #0번째~5번째 앞까지

'01234'

In [36]:
str_[0:8:2] #뒤에서 5번째부터 뒤에서1번째 앞까지

'0246'

In [37]:
str_[-4:] #문자열에서 뒤로부터 4번째부터 끝까지

'6789'

In [38]:
str_[-4:20] 
#인덱스 범위를 벗어나면 끝까지를 의미 
#*통상 이렇게 하진 않음.(생략해버리면 되니까)

'6789'

In [39]:
str_[9:0:-1] #from이 stop보다 숫자가 높은경우 거꾸로 실시함.

'987654321'

In [62]:
#첫문자~6번째 인덱스까지 추출
print(str_[0:7])
#5번째부터 끝까지 추출
print(str_[5:])
#str_을 거꾸로 추출
print(str_[::-1])
print(str_[-1::-1])

0123456
56789
9876543210
9876543210

## 3.3 논리형(True/False)

In [81]:
a = True
print(a) # a:매개변수=인자
print(type(a)) #a변수의 타입
print(isinstance(a, bool)) # instance(변수, 타입) : 변수가 해당 타입인지 여부
print('a주소:',id(a))
b = True
print('b주소:',id(b))
b = False
print('b주소:', id(b))

True
<class 'bool'>
True
a주소: 140731850442960
b주소: 140731850442960
b주소: 140731850442992

In [65]:
int(True), int(False)

(1, 0)

In [ ]:
# False로 간주되는 것 : 0, ""(빈스트링), None, [], (), {}
# False외의 값은 다 True " "

In [72]:
i = 10
if  i>5:
    print('i가 크네') #if문이 참인경우 해당내용을 출력할것.
else:
    print('i가 부족하네') #if문이 거짓인경우 해당내용을 출력할것.

i가 크네

In [71]:
i = 10
if  i>5:
print('i가 크네')
else:
    print('i가 부족하네')
#파이썬은 들여쓰기를 안하면 실행이 안된다.

IndentationError: expected an indented block after 'if' statement on line 2 (2620420846.py, line 3)

In [74]:
if []:
    print('True다')
else :
    print('False다')
# 빈괄호는 False다. 윗쪽내용 참조.

False다

## 3.4 자료형 확인 및 형변환 함수
#파이썬 자료의 형태에는 세가지만 존재함.(숫자형, 문자형, 논리형)

#형변환 함수는 이런 자료의 형태를 바꾸는 함수임.

-type('변수')
-isinstance(변수, 타입)

-int()   : 정수형으로 변환
-float() : 실수형으로 변환
-str()   : 문자형으로 변환 
-bool()  : 논리형으로 변환

In [100]:
int("123"), int(123.9), int(True), int("  123   ")

(123, 123, 1, 123)

In [99]:
float("123.5"), float(123), float(True), float(" 123.5  ")

(123.5, 123.0, 1.0, 123.5)

In [92]:
float("123")
#정수형은 소수형으로 변경시 실수로 변경됨

123.0

In [91]:
int("123.5")
#실수형을 정수형으로 변경시 오류가 발생함.

ValueError: invalid literal for int() with base 10: '123.5'

In [93]:
# int() 오류가 발생하는 경우들 *()=함수라는뜻
#int("123.5")
#int(' ')
#int('')
int("1,000")

ValueError: invalid literal for int() with base 10: '1,000'

In [101]:
#float() 오류 발생하는 것들
#float("1,000.0")
#float("")
#float(" ")

In [104]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [105]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)
#논리형(True/False)에서 위에 해당되는 사항은 False로 간주됨.

(False, False, False, False, False, False, False)

In [106]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것.(사람이 보기좋게 어떻게 출력할 것인가?)
- *파이썬의 기본데이터는 문자, 숫자, 논리형인데 날짜데이터가 포함되어있다. 왜? 파이썬은 날짜데이터를 사용할 수 있으며, 이는 기본데이터에 포함되지 않는다.
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음.
- 포맷팅: 문자열, 숫자, 날짜 등의 출력 형식을 지정하는 것
- 날짜형은 파이썬에서 쓸 수 있지만, 기본 데이터형에는 포함되지 않는다

## 4.1 문자열에 출력형식 지정

In [108]:
name = "홍길동"
age = 30
print(name, '님의 나이는', age, '살입니다', sep='')
#sep=''은 print() 함수에서 **출력되는 값들 사이에 들어갈 구분자(separator)**를 지정하는 옵션(자료들 사이에 어떤내용을 들어갈지를 결정)

홍길동님의 나이는30살입니다

In [112]:
print("%s님의 나이는 %d살입니다"%(name, age))
     # %s: 문자, %d:정수, %f:실수 (이건 다소 옛날방식)
print(f"{name}님의 나이는 {age}살입니다")
     #이건 좀 최신방식, 자주 사용됨. 단점 : 자료의 자릿수를 지정할 수 없음.
print("{}님의 나이는 {}살입니다".format(name, age))
     #가장 많이 사용됨. {}안에 다양한 변수삽입가능

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [114]:
## 4.2 format() 문법

In [ ]:
# format함수 : 문자열 안에 변수 값을 삽입하거나, 정렬·자릿수·타입을 지정해서 출력할 수 있도록 도와주는 문자열 포맷팅 함수
#포맷팅 : 값을 보기좋게, 내가 원하는 모양으로 만드는것을 뜻함.
#↓기본 문법, 형식은 아래와 같다.
"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수)
     # 인덱스 : format함수 안의 매개변수의 순서
     # 정렬방식 : 데이터를 정렬할 방식을 뜻함.(한글의 왼쪽정렬 가운데 정렬같은 느낌) <(왼쪽정렬), <(오른쪽 정렬), ^(중앙정렬)
     # 정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
     # 실수자릿수 : 출력될자릿수, 소수점자릿수f
     # 문자자릿수 : 전체확보될자릿수[.변수중출력할자릿수]s
     # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
     # 공백대체문자 : 작성된 문자가 공백일 경우 이를 대체할 문자를 의미함.(쓸 경우 정렬방식을 반드시 기입해야함.)

In [117]:
name = input('이름은?')
age = int(input('나이는?'))
#에러가 발생할수도 있는것을 '예외처리'라고함.(차후 8장에서 배울예정)
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_<10}님 반갑습니다".format(name, age))

이름은?홍길동
나이는?30
30살 홍길동님 반갑습니다
*30*살 홍길동_______님 반갑습니다

In [123]:
#숫자의 경우 : 오른쪽 정렬(기본값)
#문자의 경우 : 왼쪽정렬(기본값)
#변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수)
i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [120]:
i = 12345
s = "Hello"
print("[{}], [{:10}], [{:3}]".format(i))
#이렇게 하면 에러가 발생함.(자리는 3개인데 포멧은 하나임.)

IndexError: Replacement index 1 out of range for positional args tuple

In [129]:
#문자 : 전체자리수, 표현될 자리수
#실수 : 전체자리수, 소수점이하 표현될 자리수
f = 2.758
s = "Hello"
print("f = [{:$>5.2f}]".format(f))
print("s = [{:_<5.2}]".format(s))

f = [$2.76]
s = [He___]

In [133]:
# + : 부호를 출력
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:=5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=5}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [137]:
#
f = 2.785
print("[{:+10.2f}]".format(f))

[     +2.79]

In [139]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f,
                            sign,
                            width,
                            precision))

[    +2.785]

In [140]:
print("[{:{sign}{width}.{precision}f}]".format(f,
                            sign=sign,
                            width=width,
                            precision=precision))

[    +2.785]

In [142]:
a = 15
print("10진수 a=[{:5d}]".format(a))
print("16진수 a=[{:5x}]".format(a))
print(" 2진수 a=[{:5b}]".format(a))

10진수 a=[   15]
16진수 a=[    f]
 2진수 a=[ 1111]

## 4.3 날짜출력

In [147]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 44, 56, 49960)

In [149]:
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now)) #오후 5시로 사용하는 경우
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(now)) #24시간으로 사용하는 경우

2025-04-09 17:44:56.049960
2025년04월09일 PM 05시 44분 56초
2025년04월09일 17시 44분 56초

In [150]:
print(now.strftime("%Y년%m월%d일 %H시 %M분 %S초"))

2025년04월09일 17시 44분 56초