In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font color="red" size="5">ch03. 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [4]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [5]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [11]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print('z={}'.format(z))
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [15]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생략시 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(101, 111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [17]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [27]:
# 반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [40]:
fruits = ['mango', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [41]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [47]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [44]:
# enumerate(나열가능한 자료) : -> (index,값)들의 셋들
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다".format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [55]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6] ]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [3]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [5]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행{}열:{}".format(i, j, value), end='\t')
    print() # 개행

0행0열:90	0행1열:91	0행2열:92	0행3열:93
1행0열:80	1행1열:81	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [8]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [9]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3],
              [50, 54]]

In [10]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [11]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [14]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 것
#             man() : 0번 인덱스 요소가 가장 큰 것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [16]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [21]:
numbers = [1, 3, 12, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers) )
print('내림차순 :', sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 3, 12, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
```

In [27]:
# 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [29]:
# 반복
numbers = [1, 2, 3]
print(numbers * 3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
# 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [31]:
numbers.append([5,6,7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [38]:
# 요소별로 각기 추가
num = [1, 2, 3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [39]:
num.insert(2, 'X')
print(num)

[1, 2, 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                     찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [42]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [43]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [44]:
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index를 반환

5

In [47]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [48]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [50]:
def safe_index(lst, data):
    if data in lst: # lst안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1

In [51]:
safe_index(numbers, 9)

-1

In [54]:
# numbers.index(9)
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 안 남)
    - [from:stop:step] from부터 stop앞까지 step씩 중가하는 index의 값을 추출
    - from 생략시 처음. stop생략시 끝. step생략시 1. 모두 생략 가능
    - 음수 인덱스 가능

2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [56]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2])
# 꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [58]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if not data%2:
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트컴프리헨션**

In [59]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [61]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [65]:
# ex1. numbers에서 10이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[item for item in numbers if item>=10]

[10, 12, 13, 20]

In [67]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[item for item in fruits if len(item)>5]

['orange']

In [68]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[item**2 for item in L if item>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [74]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [75]:
# 슬라이싱을 이용해서 요소 수정(step부분이 미포함 : 부분 리스트가 통째로 수정) 
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [77]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99,99,99,99,99]
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [83]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))
delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))
del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [86]:
numbers = [1, 2, 3, 4, 5]
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당데이터가 없으면 오류
numbers.remove(3) 
print(numbers)

[1, 2, 4, 5]

In [87]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [89]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [90]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [92]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다
5 삭제 완료

In [93]:
numbers

[1, 2, 4]

## 1.8 정렬하기

In [7]:
numbers=[1, 9, 5, 0, 8]
print('numbers는 변경하지 않고 정렬 :', sorted(numbers), sorted(numbers, reverse=True))
print('numbers :', numbers)

numbers는 변경하지 않고 정렬 : [0, 1, 5, 8, 9] [9, 8, 5, 1, 0]
numbers : [1, 9, 5, 0, 8]

In [9]:
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본정렬 : 오름차순) 
               #즉, 데이터 자체의 내용을 바꿔버리며 이후에 변수를 입력하면 정렬된 결과가 출력됨.
numbers

[0, 1, 5, 8, 9]

In [5]:
numbers.reverse() # numbers 자체가 역순으로 변경
numbers

[9, 8, 5, 1, 0]

In [11]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [16]:
# 스칼라 데이터의 복제
i=10       #원본
copy_i = i #복제본(원본을 훼손하지 않고 운용하고 싶을 때 사용)
print(f"원본={i}, 복사복={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사복={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본=10, 복사복=10 / 원본주소=1486397374992, 복사본주소=1486397374992
원본=10, 복사복=99 / 원본주소=1486397374992, 복사본주소=1486397377840

In [24]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제(절대 안 됨) *배열과 데이터프레임을 자주 복제함.
numbers=[5, 6, 1] #원복
new_numbers = numbers #본제본
new_numbers[0] = 9
print('원본:', numbers)
print('복제본:', new_numbers)

원본: [9, 6, 1]
복제본: [9, 6, 1]

In [25]:
a = 9
print(a, id(a)) #id()함수는 해당 변수의 주소를 나타냄.
a = 8
print(a, id(a))

9 1486397374960
8 1486397374928

In [32]:
#얕은 복사(할당) / 깊은복사(복제)
numbers=[5,8,1] #원본, 5,8,1에 대한 주소가 저장됨
new_numbers = numbers #얕은 복사(할당), 원본에 대한 주소가 저장됨.
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99)
print("복제본만 지지고 볶고")
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")

#결론 : 얕은복사를 하면 복사본의 내용을 변경하면 원본의 내용도 변경됨.

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=1486509741568, 복제본=1486509741568
복제본만 지지고 볶고
원본=[1, 8], 복제본=[1, 8]
원본주소=1486509741568, 복제본=1486509741568

In [33]:
numbers.clear() #모든 항목 삭제
numbers

[]

# 2절 튜플
- 리스트와 유사하지만, 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정불가하므로, 튜플에 데이터 수정, 삭제, 정렬, 복제 불가(제공되는 함수도 많지 않음.)
- ()또는 tuple()을 이용해서 생성
- 기본적으로 리스트와 동일한 작동방식을 가지나, 결정적인 차이점은 데이터의 변조가능여부에 따라 다름.

In [35]:
# city=('서울','부산','인천','목포')
# 파이썬은 여러개의 값이 전달된 때, 튜플 타입으로 전달 수정
city = '서울','부산','인천','목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [39]:
a, b = (10,12)
print(a,b)

10 12

In [40]:
#city = ['서울','부산','인천','목포']
city = ('서울','부산','인천','목포')
' = '.join(city)

'서울 = 부산 = 인천 = 목포'

In [43]:
l = ['서울'] #요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [47]:
t = ('서울', ) #요소가 하나 있는 튜플(,를 반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [48]:
numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
min(numbers), max(noumbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [49]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [51]:
numbers.inxex(2)
#인덱스와 동일하게 없는 변수를 확인하려하면 오류가 걸림

AttributeError: 'tuple' object has no attribute 'inxex'

In [52]:
is 9 in numbers:
    numbers.index(9)
else:
    print('9요소가 없어요')

SyntaxError: invalid syntax (2211973799.py, line 1)

In [54]:
def safe_index(lst, item):
    """
    lst안에 item 요소가 있으면 item 요소의 index를 반환 없으면 -1반환
    lst : 나열가능한 데이터
    item : 찾을 데이터
    """
    if item in lst :
        return lst.index(item)
    else:
        return -1
    #return lst.index(item) if item in lst else -1

In [3]:
from safe import safe_index
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [4]:
numbers *3

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [9]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력
numbers = (1, 2, 3, 4, 5, 6)
tuple([num**2 for num in numbers if num%2==0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호({})를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복불가(유일한 값). 키에 list는 사용불가.
- 값은 중복가능
- 인덱스를 이용한 참조 지원 안 함

In [12]:
dic = {'name':'홍길동',1:22, (1,2):[1,2]}
print(type(dic))
print(dic)
print('데이터 갯수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 : 3

In [13]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [15]:
#딕셔너리 상에서 원하는 데이터 추출(현 예시에서는 key를 입력했을때 value값을 출력하는 방법을 보여줌.)
print(my_favorite['fruit']) #리스트가 안되므로 리스트 처럼 [0]으로 데이터를 추출할 수 없음.
print(my_favorite.get('fruit')) #이걸 더 많이씀

apple
apple

In [20]:
#print(my_favorite['people']) #없는 키값을 인덱스 방식으로 참조시 에러가 발생함.
print(my_favorite.get('people')) #없는 키값을 get함수로 참조시 none(웹페이지 등에선 에러가 발생하면 문제가 생기므로)
print(my_favorite.get('people','-')) #없는 키를 get함수로 참조시 '-'

None
-

In [133]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite.get('fruit') #데이터에 엑세스 할때는 []를 잘 안씀. 에러가 발생할 수 있으므로 get함수를 사용함.
my_favorite['fruit']='mango' # fruit 데이터 수정
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' #데이터 추가
print('my_favorite 추가 후 :', my_favorite)

#데이터 제거하기(2가지 방법이 있음.)
#1번째 방법 : 단순 제거만 하는 방법
del my_favorite['fruit']   
print('fruit 제거 후:', my_favorite)

#2번째 방법 : number키의 값을 반환하고 제거
remove_data = my_favorite.pop('number') 
print('remove data :', remove_data)
print('number 제거 후 딕셔너리 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후: {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove data : 12
number 제거 후 딕셔너리 : {'sport': 'golf', 'people': '홍길동'}

In [32]:
#for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [33]:
for data in my_tup:
    print(data, end='\t')
print()
for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end="\t")
print()
for idx, value in enumerate(my_tup):
        print(f"{idx}번째 {value}", end="\t")

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [28]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [47]:
for data in my_dic:    #my_dic.keys():
        print(data, end='\t')

name	age	tel

In [35]:
#강사님께서 매우 비추천하는 방법
for data in my_dic:
    print(my_dic.get(data), end='\t')

홍길동	30	010-9999-9999

In [36]:
for data in my_dic.values(): 
    print(data, end='\t')

홍길동	30	010-9999-9999

In [38]:
my_dic.values() # 값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [39]:
my_dic.keys() #키만 추출

dict_keys(['name', 'age', 'tel'])

In [41]:
my_dic.items() #(키-값)쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [43]:
for key, value in my_dic.items() :
    print(f"{key}:{value}", end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [48]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [49]:
for idx, (key, value) in enumerate(my_dic.items()):
    print('{}.{:4} : {}'.format(idx+1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [51]:
"홍길동" in my_dic.keys()

False

In [52]:
"홍길동" in my_dic.values()

True

In [53]:
#얕은 복사
my_favorite={'fruit':'apple', 'number':12} #원본
new_favorite=my_favorite # 복제본(얕은복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [54]:
# 깊은 복사
my_favorite={'fruit':'apple', 'number':12} #원본
new_favorite=my_favorite.copy() # 복제본(깊은복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서x == 인덱스 X)
- 중괄호({})나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : &, |, - (각각 교집합, 합집합, 여집합)
- 삭제 : remove()

In [56]:
fruits = {'banana', 'orange', 'banana', 'banana', 'apple'} #순서없이 컴퓨터 마음대로 데이터를 출력함.
fruits

{'apple', 'banana', 'orange'}

In [57]:
s1 = set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [58]:
# set 함수를 이용해서 딕셔너리로 셋으로 전환할 때는 key만 적용됨.
my_favorite={'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋(set) 요소 하나하나씩 추가할 경우. dict사용시 key만 추가

In [61]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5, 6, 7]) #스칼라 데이터는 오류가 발생하므로 다수의 데이터를 추가하는 경우에 사용
s2

{1, 2, 3, 4, 5, 6, 7}

In [69]:
# 논리값 False는 False, 0으로
# 논리값 True는 True, 1로
s = {1, 2, 3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [70]:
s.remove(True)
s

{False, 2, 3}

## 연산:&(교집합), |(합집합), -(차집합)

- &, | : 괄호를 잘 쳐야한다. 집합연산자, 논리연산자, 비트연산자

In [71]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 =', s1|s2)
print('s1 & s2 =', s1&s2)
print('s1 - s2 =', s1-s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

In [73]:
#리스트를 잘 이해하면 튜플, 딕셔너리, 셋은 쉽게 익힐 수 있다.

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [74]:
names = {'길자', '길동', '영자'}
for name in names :
    print(name, end='\t')

길동	영자	길자

In [75]:
for no, name in enumerate(names) :
    print(f"{no}.{name}")

0.길동
1.영자
2.길자

In [82]:
names = ['순자','길동','길자']
tels=['010-9999-9999','010-8888-8888','010-7777-7777']
adds=['서울','인천','판교']

for idx in range(len(names)):
    print("{}.{}의 연락처는 {}고 {}에 살아요".format(idx+1,
                                                   names[idx],
                                                   tels[idx],
                                                   adds[idx]))

1.순자의 연락처는 010-9999-9999고 서울에 살아요
2.길동의 연락처는 010-8888-8888고 인천에 살아요
3.길자의 연락처는 010-7777-7777고 판교에 살아요

In [83]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [85]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name} : {tel} - {add}")

순자 : 010-9999-9999 - 서울
길동 : 010-8888-8888 - 인천
길자 : 010-7777-7777 - 판교

In [87]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {} : {} - {}".format(idx+1,
                                   name,
                                   tel,
                                   add))

1. 순자 : 010-9999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
3. 길자 : 010-7777-7777 - 판교

주피터 환경에서 이미지를 넣는법
'''
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
'''
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width="400"
     style="float:left"
     >

# 6절. 연습문제
## 실습형

In [114]:
#다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오.
numbers=[1,2,3,4,5,6,7,8,9,10]
#1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print("1번문제:", numbers)

#2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data=[200,300,400,500]
a=numbers+data
print("2번문제:",a)
#number.extend(data)

#3. 처음 다섯개 숫자만 출력하세요
print("3번문제:",a[:5:])

#4. 리스트에서 짝수 번째 데이터만 출력하세요
print("4번문제:",a[::2])

#5. 짝수번째 데이터를 모두 0 으로 바꾸세요
a[::2]=[0,0,0,0,0,0,0,0]
print("5번문제:",a)

#다른방법
# for i in range(0, len(numbers), 2):
#     numbers[i] = 0
#numbers[::2] = [0] * len(numbers[::2])
#print('5번 후 결과 :', numbers)

#6. 데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
a.reverse()
print("6번문제:",a)

1번문제: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번문제: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번문제: [1, 2, 3, 4, 5]
4번문제: [1, 3, 5, 7, 9, 100, 300, 500]
5번문제: [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번문제: [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [142]:
#다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info={'name':'홍길동','age':20, 'address':'서울시 마포구','score':90}
#7. address 값을 출력하세요.
print('7번문제:',member_info.get('address')) #강추

#8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요.
remove_date=member_info.pop('score')
print('8번문제:',remove_date)

#9. address 를 서울시 서대문구 로 변경하세요
member_info['address']='서울시 서대문구'
print('9번문제:',member_info)

#10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요.
print('10번문제:', member_info.values())

7번문제: 서울시 마포구
8번문제: 90
9번문제: {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}
10번문제: dict_values(['홍길동', 20, '서울시 서대문구'])

## 서술형

In [144]:
#1. 다음 코드를 실행했을 때 출력되는 것은
# orange, banana

In [145]:
#2.다음 코드와 실행결과가 잘못 짝지어진 것은? 2번

In [146]:
#3. 다음 구문에 의해 출력되는 것은?
#[1,3,4]

In [149]:
#4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
#append

In [150]:
#5. 다음 구문을 실행할 때 결과는?
#해보면 알겠지만 머리로만 하면 모르겠습니다 ㅠ

In [151]:
#6. 다음 구문을 실행할 때 결과는?
#5,7,9

In [ ]:
#7. 다음 구문을 실행할 때 결과는 ?