In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(같은 이름의 함수를 매개변수를 달리해서 사용)->파이썬에서는 불가능함.
- *오버로딩 : 함수이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는것 
- 함수정의
```
def 함수명(숫자로 시작하면 안됨. 변수를 작성하는 원칙과 동일함. 가급적 한국어, 특수문자사용, 숫자를 우선 사용하는 것을 피할것.)
def 함수명([매개변수1, 매개변수2, 매개변수n])
    명령어 1
    명령어 2
    명령어 n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [3]:
a=10  #날아감
a=20  # 뒤에 적은게 a가 됨.
print(a)

20

In [3]:
#함수 정의
def hello():                  #hello라는 함수를 정의함. 해당 함수는 매개변수를 정의하지 않았으므로, 차후 사용시 매개변수를 사용하면 안됨.
    for i in range(5):        #def는 함수를 정의할 때 사용되는 키워드
        print("Hello")
#파이썬내 별도의 메모리 공간에 함수가 저장됨.

# 함수 사용
hello()

Hello
Hello
Hello
Hello
Hello

In [6]:
#매개변수가 들어가 있는 함수 정의
def my_message(x, msg):                  #msg를 x번 출력하는 함수를 만듬
    for i in range(x)#함수 명령어: 예시에서는 for-in문과 range함수를 사용함. range(범위지정) i에 슬라이싱해서 넣고 수행해라.
        print(msg)   #for-in문에 대한 수행어 : print msg를 출력해라.
                     #하위 명령문들은 다시 상위 함수에 반영되어 수행됨.

In [8]:
#매개변수가 들어있는 함수는 반드시 매개변수를 입력해야 한다.(그렇지 않으면 아래처럼 오류가 발생함.)
my_message()

TypeError: my_message() missing 2 required positional arguments: 'x' and 'msg'

In [7]:
#정상적으로 사용하였을시의 예시(매개변수가 들어가 있는 함수)
my_message(5,'Hello')

Hello
Hello
Hello
Hello
Hello

In [8]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [9]:
#함수를 변수로 설정하면, 변수도 함수가 된다.
type(my_msg), type(my_message)

(function, function)

In [16]:
#변수가 함수가 되었을 때, 동일한 역할을 수행할 수 있다.
my_message(3, 'ttt')

ttt
ttt
ttt

In [17]:
print('Hello')  #파이썬 내장함수(import하지 않고소 쓸 수 있는 함수를 뜻함.) ex) print, add 등
print=5
#print('Hello')
del print
print('Hello')

Hello
Hello

In [18]:
my_message(2, 'Hello')

Hello
Hello

In [19]:
my_message = 5

In [28]:
del my_message
#변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [29]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [10]:
#함수정의 : 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, world')
#함수 이름은 동일하게 두 번 정의하면 가장 마지막 정의가 유효
#이 코드에서는 my_hello(cnt)만 살아있음.
#cnt는 count의 줄임말로 '횟수', 즉 얼마나 반복할지를 나타내는 매개변수임.

In [12]:
#함수호출(=함수사용, 호출이라는 표현을 실무에서 더 많이 사용함.)
my_hello(2)

Hello, Python
Hello, world
Hello, Python
Hello, world

In [13]:
#단순 함수이름을 쳤을 때 파이썬이 보여주는 함수 자체에 대한 정보
my_hello

In [14]:
__name__

'__main__'

In [15]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, world
Hello, Python
Hello, world

In [3]:
#vscode와 연동하여 사용, ch05모듈을 load
import ch05

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, world
Hello, Python
Hello, world

In [5]:
#ch05모듈안의 my_hello를 load *ch05에서 my_hello를 가져와라.
from ch05 import my_hello

In [6]:
my_hello(2)

Hello, Python
Hello, world
Hello, Python
Hello, world

## 1.2 docstring

In [9]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음.)
    '''
    pass

In [ ]:
my_function()

In [10]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음.)

In [11]:
#피보나치(fibonacci)수열 : 앞의 두 수를 더해서 다음 수를 만드는 수열
#ex) 0 1 1 2 3 5 8 13 21 34
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행

In [12]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

## 1.3 지역변수(local var)와 전역변수(global var)
- 지역변수와 전역변수는 변수의 사용범위에 따라 구분됨.
- 전역변수 : 함수 바깥에서 선언된 변수(파일 전체에서 사용가능함.)
- 지역변수 : 함수 안에서 선언된 변수(해당 함수 안에서만 사용 가능.)

In [13]:
global_var = 100 # 전역변수
def func1():
    print('함수안:', global_var)
func1()
print('함수밖 :', global_var)

함수안: 100

In [19]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [22]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수(변수선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [23]:
# 렉시컬 특성
g_var = 100 #전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 #지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [24]:
# 지역변수를 전역변수처럼 사용하고 싶을때
g_var = 100 #전역변수
def func4():
    global g_var #func4함수내의 g_var는 전역변수를 쓴다.
    print('함수 안 g_var :', g_var)
    g_var = 200 #지역변수
func4()
print('함수밖 g_var :', g_var)

함수 안 g_var : 100
함수밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때
- 복사본을 줘서 함수에 보냄

In [25]:
foo = 'a' #전역변수 foo에 문자열 'a' 저장
id(foo)   #id함수 : 어떤 변수(또는 객체)가 메모리상 어디에 저장되어있는지를 알려주는 함수
          #foo의 메모리 주소 출력

2029137454896

In [31]:
def func1(f): #매개변수 f는 지역변수, foo를 f라는 이름으로 함수에 전달
    print('Before:', f , 'id(f):', id(f))
    f=f*3
    print('After:', f , 'id(f)':, id(f))
func1(foo) #함수호출(foo의 값을 f에 전달)

Before: a id(f) 2029137454896
After: aaa id(f) 2029257682992

In [32]:
print(foo, id(foo))

a 2029137454896

## 1.5 참조에 의한 호출(주소에 의한 호출)
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우
- 원본 주소(실물)을 줌

In [28]:
L=[1,2,3]
id(L)

2029257579840

In [33]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 4] 2029257579840
After : [1, 2, 3, 4, 4] 2029257579840

In [34]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4] 2029257579840

# 2절. 함수의 실행결과를 반환하는 return
- 함수가 실행을 끝내고 결과를 밖으로 돌려주는 문장을 뜻함.

In [169]:
def adf(a, b):         #함수를 정의함 adf는 (a,b)
    return a + b
result = adf(3, 5)     #변수선언
print(result)

8

In [51]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행

def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [50]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [52]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값을 return

In [53]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [54]:
a, b = 10, 11

In [58]:
x, y = 5, 10
print(f'함수 실행 전 : x={x} y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 : x={x} y={y}')

함수 실행 전 : x=5 y=10
함수 실행 후 : x=10 y=5

# 3절.  함수의 매개변수 ★
- 함수를 정의할 때 인자를 여러개 받을 수 있는 방법

## 3.1 기본값을 갖는 매개변수

In [66]:
def make_url(ip, port=80):   #순서인수가 앞에 와야하며, 기본값은 갖는 매개변수가 뒤에 와야한다.
    return "http://{}:{}".format(ip, port)

In [68]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [72]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg=',arg)

In [74]:
i=50
func2()

arg= 5

In [76]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [84]:
print(func3(10)) #list_가 수정 : [10]

[10, 10, 10, 10, 10, 10, 10, 10]

In [85]:
list_

[10, 10, 10, 10, 10, 10, 10, 10]

In [86]:
print(func3(20, list_))

[10, 10, 10, 10, 10, 10, 10, 10, 20]

In [87]:
list_

[10, 10, 10, 10, 10, 10, 10, 10, 20]

In [90]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [91]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 10, 10, 10, 10, 10, 10, 10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [92]:
#파이썬은 오버로딩(함수의 중복)을 지원하지 않는다.
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [93]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [101]:
# *args: 튜플 매개변수라는 뜻으로, 매개변수를 튜플로 묶어서 받는 문법(함수에 인자를 몇개 넣을지 모를 때 유용함.)
# '*'가 핵심임 그 뒤에 단어를 아무거나 해도 상관없음.
def add(*args):
    '전달받은 매개변수들의 합은 return'
    # print('args = ',args)
    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot

In [102]:
print(add(1))
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,4,5,6))

1
3
6
21

In [104]:
subject=('Python','Oracle','DL','ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [106]:
def concat(*subject, sep):
    return sep.join(subject)

In [108]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [112]:
# 해결책 1 : 매개변수 이름을 지정해서 호출(강사님 기준 가장 비추천하는 방식)
concat('Python', 'Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [116]:
#해결책 2 : 기본값을 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [118]:
concat('Python', 'Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [119]:
print('Python', 'Oracle', 'DL', 'ML', sep='/')

Python/Oracle/DL/ML

In [123]:
#해결책 3 : sep을 순서인수로 앞에 선언
#(가장 추천하는 방식, 사실상 이게 가장 깔끔한 해결책이라고 할 수 있다.)
def concat(sep, *subject):
    return sep.join(subject)

In [124]:
concat('/','Python','Oracle','DL')

'Python/Oracle/DL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변키워드 인수처리

In [127]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', '30'))
    print('주소 :', kwargs.get('address', '서울'))

In [128]:
func5(name='홍길동', age='30', address='신림동')

{'name': '홍길동', 'age': '30', 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [129]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [130]:
def func6(a, b, *c, **d):            #순서가 중요함, 순서가 틀릴 시 오류가 발생할 수 있음.
#        ↑순서  ↑튜플 ↑딕셔너리
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [131]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [134]:
def func7(a, b, *c, d='기본값', **e) :
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [135]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [136]:
func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수(매개변수)의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시 매개변수 앞에 *붙임
- 패킹 : 함수 정의 시 매개변수 앞에 *붙임(튜플매개변수)

In [142]:
def add(*args) :
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [143]:
add(1, 2, 3, 4,)

(1, 2, 3, 4)

10

In [144]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [145]:
numbers=(1,2,3,4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 언패킹 : 함수 호출 시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임(딕셔너리 매개변수)

In [147]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [148]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [150]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
- 간단한 계산을 짧게 쓰는 함수

In [152]:
#문법구조
# lambda 매개변수 : 결과식

In [153]:
#예시
#일반함수
def add(x, y):
    return x+y
add(3, 4)

7

In [156]:
#람다식
#모든함수를 람다식으로 바꿀 수 없으며 return이 포함되어 있어야 함.
add2 = lambda a,b : a+b
add2(3, 4)

7

In [157]:
type(add), type(add2)

(function, function)

In [158]:
(lambda a, b : a+b)(3, 4)

7

In [163]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
#람다식 만드는 요령 1 일단 함수를 하나 만든다
def ex1(num):
    if num%2:
        result="홀수"
    else:
        result="짝수"
    result = "홀수" if num%2 else "짝수"
    return result
ex1(2), ex1(-9)

('짝수', '홀수')

In [159]:
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [172]:
# ex2. 두 매개변수의 차이를 return
def diff(a,b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result
diff(2, 1), diff(10, 20)    
#람다식으로 변경하기 위해선 위의 if문을 한줄로 바꿀 수 있어야 한다.
# result = a-b if a>b else b-a

(1, 10)

In [173]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [174]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [ ]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 그외는 유효하지 않음.
ex4 = lambda score : "A팀" if 80<=score<=100 else ("B팀" if 60<=score<80)

In [ ]:
# ex5. safe_index를 람다식으로 
def safe_index(lst, data):
    if data in lst: # lst안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1