In [49]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch09. 파일 io(입출력) 프로그래밍</font></b>
파일 : txt, pickle, csv, json, hdf5(h5)

```
파일의 형식

1. *.txt : 
-형식: 사람이 읽을 수 있는 일반 텍스트
-용도: 간단한 로그, 텍스트 데이터 저장용
   김회원, 33, 아무동 9
   이회원, 22, 무시기동8

2. pickle파일(*.data, *pkl) : 머신러닝 모델 저장용
-형식: 바이너리 형태로 파이썬 객체를 직렬화하여 저장
-특징: 사람이 읽을 수 없음, 메모리에서 바로 객체로 복원 가능
-용도: 머신러닝 모델, 객체 리스트 등 복잡한 구조 저장
   객체저장용으로 메모장에서 열수 없음.
   객체리스트 저장(머신러닝모델 저장용)

3. *.csv 파일
-형식: 쉼표로 구분된 텍스트 데이터
-용도: 표 형식의 데이터 저장 및 불러오기, 엑셀과 호환
   name, age, address
   "김회원", 33, "아무동9"
   "이회원", 22, "무시기동9"

4. *.json파일
-정의 : JSON은 JavaScript Object Notation의 약자로,
데이터를 키-값 쌍(key-value pair) 형태로 표현하는 텍스트 기반의 데이터 포맷
-텍스트 기반의 데이터 포맷으로, 딕셔너리나 리스트 형태의 데이터를 저장하는 데 적합.
파이썬의 dict, list 구조를 그대로 저장하고 불러올 수 있음

 [{'name':'김회원', 'age':33, 'address':'아무동9'},
{'name':'이회원', 'age':22, 'address':'무시기동9'}]
대괄호 []: 리스트(배열)를 나타냅니다.
내부에는 중괄호 {}로 구성된 여러 개의 객체가 들어갑니다.
들여쓰기를 해서 저장할지 말지를 정할 수 있음.

5. *.h5이나 *.hdf5 (=>딥러닝 모델 저장)
-정의 : 계층적 구조로 데이터를 저장하는 바이너리 형식의 파일
-용도 : 딥러닝, 과학 데이터, 대규모 센서 데이터 저장 등에 많이 사용.
 HDVview로 읽을 수 있음.
/
├── model_weights
│   ├── dense_1
│   ├── dense_2
└── model_config
파일 안에 또 다른 디렉터리와 파일이 들어 있는 것처럼
구조화된 데이터를 저장할 수 있습니다.

6. *.xml 엑셀을 가져오는것을 웹 크롤링과 동일함.
<font size="6">
 <custmomer>
	<name> 김회원</name>
	<age>33</age>
	<address>아무동9</address>

```

In [ ]:
#txt 파일 불러오기
with open('data.txt', 'r', encoding='utf-8') as f:  # 텍스트 파일을 읽기 모드('r')로 열고, utf-8로 인코딩 설정
    for line in f:  # 파일에서 한 줄씩 반복하여 읽기
        print(line.strip().split(', '))  # 줄 끝의 개행 문자를 제거하고(', ' 기준으로 분리해서 리스트로 출력)

In [ ]:
#Pickle 파일 불러오기
import pickle  # pickle 모듈은 파이썬 객체를 파일로 저장하고 불러올 때 사용

with open('data.pkl', 'rb') as f:  # pickle 파일을 바이너리 읽기 모드('rb')로 열기
    loaded_data = pickle.load(f)  # 파일에서 객체를 역직렬화하여 불러오기

print(loaded_data)  # 불러온 데이터를 출력

In [ ]:
#CSV 파일 불러오기 (pandas 사용)
import pandas as pd  # 데이터 분석을 위한 pandas 모듈 불러오기

df = pd.read_csv('data.csv')  # csv 파일을 읽어서 DataFrame으로 불러오기

print(df)  # 표 형태로 출력

In [ ]:
#JSON 파일 불러오기
import json  # JSON 형식의 데이터를 다루기 위한 json 모듈 불러오기

with open('data.json', 'r', encoding='utf-8') as f:  # json 파일을 읽기 모드로 열기 (한글 깨짐 방지 위해 utf-8 설정)
    loaded_data = json.load(f)  # json 파일의 내용을 파이썬 객체(list, dict 등)로 변환하여 불러오기

print(loaded_data)  # 불러온 데이터를 출력

In [ ]:
#*.h5이나 *.hdf5 파일 저장
model.save('model.h5')  # 모델 전체(구조 + 가중치 + 옵티마이저 상태 등) 저장

In [ ]:
#*.h5이나 *.hdf5 파일 불러오기
from tensorflow.keras.models import load_model

model = load_model('model.h5')  # 저장된 모델 불러오기

In [ ]:
#*.h5py 모듈사용 일반적인 데이터 저장
import h5py
import numpy as np

# 데이터 저장
with h5py.File('data.h5', 'w') as f:
    f.create_dataset('dataset1', data=np.arange(10))  # 'dataset1'에 배열 저장

# 데이터 불러오기
with h5py.File('data.h5', 'r') as f:
    data = f['dataset1'][:]  # 전체 데이터를 numpy 배열로 불러옴
    print(data)

# 1절. txt파일에 데이터 저장하고 불러오기

In [3]:
try :  
    f = open('dat/ch09.txt', 'w')     # 'dat' 폴더 아래에 'ch09.txt' 파일을 쓰기 모드로 열기  
except FileNotFoundError as e:        # 폴더가 존재하지 않아 파일을 열지 못하면 예외 발생  
    print(e)                          # 예외 메시지 출력  
finally:  
    f.close()                         # 파일을 닫음 (하지만 f가 정의되지 않았을 경우 오류 발생 가능)

[Errno 2] No such file or directory: 'dat/ch09.txt'

In [4]:
f = open('data/ch09.txt','w') 
print('쓰기 가능한지 여부 :', f.writable())

쓰기 가능한지 여부 : True

In [5]:
f.write('Hello\nWorld')  
#write() : 파일 객체(f)에 문자열 데이터를 한 줄 또는 여러 줄로 기록하는 함수
#문자열만 쓸 수 있음.
#숫자나 리스트 등을 쓰려면 문자열로 **변환(str())**해야 함.
f.close() # close()쓰기한 내용이 저장x

In [2]:
#with 문을 사용하여 위와 동일한 문장을 작성
with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write('Hello\nPython')

쓰기 가능한지 여부 : True

In [ ]:
#파일열기 mode 요약(open()함수에서 사용) 
    #'r' 또는 'rt' : text 읽기모드(파일이 없는 경우 예외발생)
    # 'rb' : 이미지, 오디오, 모델 파일 등 바이너리 데이터 읽기용
    # 'w' 또는 'wt' : text쓰기 모드(파일이 있으면 기존 내용 삭제 후 새로 씀, 파일이 없으면 파일 생성)
    # 'wb' : 바이너리 데이터를 쓰기 위해 사용 (ex: 이미지 저장 등)
    # 'a' 또는 'at' : text 추가모드(파일이 있으면 append, 파일이 없으면 파일 생성)
    # 읽기모드에서 파일이 없으면 예외발생 / 쓰기모드에서는 폴더가 없으면 예외발생
# encoding : 인코딩은 문자를 컴퓨터가 이해할 수 있는 이진값으로 변환하는 방식
    # euc-kr (한글 완성형) 믜x
    # cp949 (euc-kr 한글 완성형) : open() 함수 기본 encoding방식(window 운영체제 에서)
    # utf-8 (한글 조합형) : open() 함수 기본 encoding방식(mac, linux 운영체제 에서)

In [5]:
with open('data/ch09.txt', 'w') as f:
    # 1방법
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 33, 아무동9\n')
    # 2방법
    textlist = ['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']
    for line in textlist:
        f.write(line)
    # 3방법
    f.writelines(textlist) #위쪽의 리스트 textlist = ['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [6]:
#한줄씩 읽기
with open('data/ch09.txt', 'r') as f:
    line = f.readline()
    while line!='':
        print(line, end='')
        line = f.readline()

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

In [9]:
#모든 줄을 읽기
with open('data/ch09.txt', 'r') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [11]:
#모두 읽기
with open('data/ch09.txt', 'r') as f:
    lines = f.read()
lines

'홍길동, 33, 아무동9\n김길동, 33, 아무동9\n홍길동, 33, 아무동9\n김길동, 33, 아무동9\n홍길동, 33, 아무동9\n김길동, 33, 아무동9\n'

# 2절. 피클을 이용한 객체 저장 및 불러오기

## 2.1 형식이 있는 txt 데이터 불러오기

In [16]:
class Member:
    def __init__(self, name, age, email, address): # 생성자: Member 객체를 만들 때 실행됨
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self): # 객체를 문자열로 표현할 때 사용 (print 함수로 출력 시)
        return "{}, {}, {}, {}".format(self.name,
                                      "성년" if self.age>18 else "미성년",
                                      self.email,
                                      self.address)
    def as_dict(self): # 객체를 딕셔너리로 변환 (JSON 등으로 저장하거나 처리할 때 유용)
        return {
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
                }
    def __eq__(self, other): # 두 객체를 비교할 때 (==) 자동으로 호출되는 특별한 메서드(연산자 오버라이딩)
        return self.name == other.name and \
               self.age==other.age and \
               self.email==other.email and \
               self.address==other.address

In [17]:
user1= Member('홍',20,'a@a.com','신림동')
user2= Member('홍',20,'a@a.com','신림동')
print(user1==user2)
print(user1.__eq__(user2)) # 같은 내용이면 True

True
True

In [25]:
# 형식이 있는 txt 파일 내용을 member list(피클저장), 딕셔너리 list(데이터프레임)로 저장
user_list = [] # member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as t:
    lines = t.readlines()
# print(lines)
for line in lines:
    data = line.split(',')
    #print(data)
    name = data[0]
    age = int(data[1].strip()) #strip(): 좌우공백(space, \t, \n) 제거
    email = data[2].strip()
    address = data[3].strip()
    user = Member(name, age, email, address)
    user_list.append(user)
    user_dict.append(user.as_dict())
    #user_dict.append(user.__dict__)

In [26]:
for user in user_list:
    print(user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## 2.2 피클링
- 파이썬의 객체(예: 리스트, 클래스 인스턴스 등)를 파일로 저장하거나, 저장된 파일로부터 객체를 복원하는 과정입니다.
- 사용하는 모듈: import pickle
- 객체 리스트 → 파일로 저장 훈련 데이터, 모델 설정, 사용자 정보 등 저장
- 파일 → 객체 리스트 복원 프로그램 종료 후에도 데이터 그대로 복원 가능
- 객체 리스트 -> 피클파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트(load_list)

In [28]:
# 피클링을 이용한 객체를 저장하기
import pickle # pickle: 객체 저장/복원 기능을 가진 내장 모듈 (설치 없이 바로 사용 가능)
with open('data/ch09_mamber.data', 'wb') as f:  # 'wb'는 binary write
    pickle.dump(user_list, f)

In [31]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기
with open('data/ch09_mamber.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [32]:
user_list == load_user_list

True

In [35]:
for idx in range(len(user_list)):
    print(idx, user[idx])
    print(idx, load_user_list[idx])

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구

In [41]:
for idx, (user, load_user) in enumerate(zip(user_list, load_user_list)):
    print(idx, user)
    print(idx, load_user)
    print(user==load_user)

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
True
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
True
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
True

In [43]:
result = []
for user, load_user in zip(user_list, load_user_list):
    result.append(user==load_user)
all(result)

True

# 3절. CSV형식 파일 읽기/쓰기
- 쉼표로 구분된 텍스트 데이터 파일입니다. 엑셀에서도 열 수 있는 파일 형식이죠.
- CSV파일 -> 리스트데이터로 읽기 또는 리스트데이터를 CSV파일로 저장 3.1 CSV → 리스트, 3.2 리스트 → CSV
- CSV파일을 읽어서 딕셔너리로 읽기 또는 딕셔너리 데이터를 CSV파일로 저장 3.3 CSV → 딕셔너리, 3.4 딕셔너리 → CSV

## 3.1 reader : CSV파일을 가져다가 리스트로 저장

In [45]:
import csv # CSV 파일을 다루기 위한 표준 모듈 불러오기
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f) # 파일을 CSV 형식으로 읽을 수 있는 reader 객체 생성
    print(list(reader))

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [46]:
# ""(따옴표)가 없는 데이터는 numeric으로
import csv # CSV 파일을 다루기 위한 표준 모듈 불러오기
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [47]:
#딕셔너리 형태로 변경
import csv # CSV 파일을 다루기 위한 표준 모듈 불러오기
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
dict_list = []
for data in result:
    dict_list.append({
        'naeme':data[0],
        'age':int(data[1]),
        'email':data[2],
        'address':data[3]        
    })
print(dict_list)

[{'naeme': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'naeme': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'naeme': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2 writer(리스트 데이터를 csv파일로 변환하는 법)

In [48]:
user_list = [['홍길동', 20, 'kildong@hong.com', '서울시 관악구'], 
             ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구']]

In [49]:
with open('data/ch09_menber1_write.csv', 'a', newline='', encoding='utf-8') as f: 
#'a'	append(이어쓰기) 모드
# newline=''	윈도우에서 줄바꿈 오류 방지
# writer = csv.writer(f)	파일을 csv 쓰기용 객체로 준비
# writer.writerows(user_list)	2차원 리스트를 줄마다 하나씩 파일에 저장
    writer = csv.writer(f)   # writer 객체 생성
    writer.writerows(user_list)  # 여러 줄(행)을 한꺼번에 저장

In [50]:
with open('data/ch09_menber1_write.csv', 'a', newline='', encoding='utf-8') as f: 
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader

In [52]:
# CSV 파일을 딕셔너리로 변경하는 방법
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': None}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': None}

In [2]:
import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f) 
# csv.DictReader : CSV 파일을 읽을 때, 각 줄(row)을 딕셔너리(dict) 형태로 변환해주는 도구
    dict_list = list(dict_reader)
print(dict_list)
for row in dict_list:
    if row['job'] is None:
        print(row['name'], row['age'], row['email'], row['address'])
    else:
        print(row['name'], row['age'], row['email'], row['address'], row['job'])

[{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': None}, {'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': None}]
홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [3]:
#header가 없는 csv파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job'])
    result = list(dict_reader)
for row in result:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [4]:
#header가 없는 csv파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address'],
                                restkey='job')
    result = list(dict_reader)
for row in result:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'job': ['']}

## 3.4 DictWriter
- 파이썬의 csv 모듈에서 제공하는 기능으로,딕셔너리 형태의 데이터를 CSV 파일로 저장할 수 있게 해주는 클래스
- 딕셔너리 리스트->CSV파일

In [10]:
user1 = {'name':'홍길동','age':22, 'email':'a@a.com', 'address':'신림동'}
user2 = {'name':'신길동','age':32, 'email':'a@a.com', 'address':'신림동'}
user3 = {'name':'김길동','age':42, 'email':'a@a.com', 'address':'신림동'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) #fieldnames는 DictWriter에서 CSV 파일의 열 이름(헤더) 를 지정해주는 리스트입니다.

In [11]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f,
                                fieldnames=fieldnames)
    dict_writer.writeheader() #header 쓰기
    dict_writer.writerows(user_list)

## CSV<->데이터프레임

In [15]:
# 데이터프레임 : 엑셀 표처럼 생긴 데이터 구조예요. 행(row)과 열(column)로 구성된 2차원 표 형태의 데이터입니다.
# pandas의 역할 : pandas는 **표 형태의 데이터(테이블)**를 다루는 데 특화된 라이브러리입니다.
# CSV 파일을 읽으면 → 데이터프레임, 데이터프레임을 저장하면 → CSV 파일이 됩니다.
# 작업 :CSV → DataFrame 함수: pd.read_csv() 설명: 파일을 읽어 표 형태로 변환
# 작업 : DataFrame → CSV 함수: df.to_csv() 설명 :표 형태를 파일로 저장

In [14]:
# 작업 :CSV → DataFrame 함수: pd.read_csv() 설명: 파일을 읽어 표 형태로 변환
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv')
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [16]:
type(member)

pandas.core.frame.DataFrame

# 4절. JSON 데이터 저장하고 불러오기(dump, load)
- 딕셔너리리스트<->JSON파일(기본)
- 객체리스트<->JSON파일

## 4.1 dump(파일출력)

In [20]:
data = [{'name':'홍길동','age':20, 'email':'kildong@hong.com', 'address':'서울'},
        {'name':'김길동','age':30, 'email':'kildong@hong.com', 'address':'인천'}]

In [22]:
# ensure_ascil 매개변수
    # True : 비ASCII문은 유니코드 형태로 저장
    # False : 비 ASCII문자 원래 형태로 저장
import json
with open('data/ch09_member.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(data, #딕셔너리 리스트
             jsonfile,
             ensure_ascii=False)

In [31]:
class Member:
    def __init__(self, name, age, email, address): # 생성자: Member 객체를 만들 때 실행됨
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self): # 객체를 문자열로 표현할 때 사용 (print 함수로 출력 시)
        return "{}, {}, {}, {}".format(self.name,
                                      self.age,
                                      self.email,
                                      self.address)
    def as_dict(self): # 객체를 딕셔너리로 변환 (JSON 등으로 저장하거나 처리할 때 유용)
        return {
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
                }
    def __eq__(self, other):
        if isinstance(other, Member):
            return self.__dict__ == other.__dict__
        else:
            return False

In [32]:
user1 = Member('홍길동', 22, 'a@a.com','신림동')
user2 = Member('홍길동', 22, 'a@a.com','신림동')
print(user1.__eq__(user2))
print(user1==user2)

True
True

In [37]:
member_list = [Member('홍길동', 22, 'a@a.com', '서울'),
               Member('신길동', 32, 'a@a.com', '서울'),
               Member('김길동', 42, 'a@a.com', '서울'),]

In [38]:
with open('data/ch09_member1.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, #객체 리스트
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict # 객체를 딕셔너리로 return 하는 인스턴스 함수
             )

## 4.2 load(파일입력)
- json파일 -> 딕셔너리 리스트(기본)
                  ↓
- json파일 ->   객체리스트

In [39]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member 객체를 return'
    return Member(dic.get('name'), dic['age'], dic.get('email'), dic.get('address'))

In [40]:
member = as_member({'name':'김길동', 'age':20, 'email':'z@a.com', 'address':'관악'})
print(member)

김길동, 20, z@a.com, 관악

In [41]:
with open('data/ch09_member.json', 'r', encoding='utf-8') as f:
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울'},
 {'name': '김길동', 'age': 30, 'email': 'kildong@hong.com', 'address': '인천'}]

In [43]:
with open('data/ch09_member1.json', 'r', encoding='utf-8') as f:
    load_member_list = json.load(f, object_hook=as_member)
for load_member in load_member_list:
    print(load_member)

홍길동, 22, a@a.com, 서울
신길동, 32, a@a.com, 서울
김길동, 42, a@a.com, 서울

## JSON->데이터프레임

In [47]:
import pandas as pd
pd.read_json('data/ch09_member1.json')
# pd.함수() : encoding='utf-8' 기본값
# open(파일, 모드)함수 : encoding='cp949' 기본값

  name  age    email address
0  홍길동   22  a@a.com      서울
1  신길동   32  a@a.com      서울
2  김길동   42  a@a.com      서울

In [48]:
pd.read_json('data/ch09_member1.json', encoding='utf-8')

  name  age    email address
0  홍길동   22  a@a.com      서울
1  신길동   32  a@a.com      서울
2  김길동   42  a@a.com      서울